ud4/03/03.dtd

<!ELEMENT programmingLanguages (language+)>
<!ELEMENT language (description, example)>
<!ATTLIST language name CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT example (#PCDATA)>
<!ATTLIST programmingLanguages xmlns:xsi CDATA #IMPLIED>
<!ATTLIST xsi:noNamespaceSchemaLocation  xmlns:xsi CDATA #IMPLIED>
<!ATTLIST programmingLanguages xmlns:xsi CDATA #IMPLIED xsi:noNamespaceSchemaLocation CDATA #IMPLIED>